<div class="container">
    <form (ngSubmit)="reservar()">
        <div class="input-container">
            <div>
                <label for="sala" id="sala">Sala</label>
                <select class="form-select" [(ngModel)]="salaSelected" aria-label="sala" [ngModelOptions]="{standalone:true}">
                    <option *ngFor="let sala of salas" [value]="sala">{{sala}}</option>
                </select>
            </div>
            <div>
                <label for="cantidad" class="form-label">Cantidad para reservar</label>
                <input type="text" [(ngModel)]="cantidad" class="form-control" name="cantidad" 
                id="cantidad" aria-describedby="cantidad" [ngModelOptions]="{standalone:true}">
            </div>
            <div>
                <label for="concert" id="concert">Concert</label>
                <select class="form-select" [(ngModel)]="concertSelected" aria-label="concert" [ngModelOptions]="{standalone:true}">
                    <option *ngFor="let concert of concerts" [value]="concert">{{concert}}</option>
                </select>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Elegir Butacas</button>
        
    </form>
</div>
