<app-navbar [menusecreto]="false"></app-navbar>
<div class="container-title">
    <img src="../../../assets/oie_transparent.png" alt="logo">
    <h2 class="title-login">Tickets Orange</h2>
</div>
<div class="content">

    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="content-form">
            <div class="container-title">
                <span class="title-content">INGRESO</span>
            </div>
            <div class="login-user">
                <label for="inputdni" class="form-label">DNI</label>
                <input type="text" [(ngModel)]="dni" id="inputdni" class="form-control" aria-describedby="dniHelpBlock" 
                [ngModelOptions]="{standalone:true}">
                <div *ngIf="errorDni" class="alert">
                    Dni Incorrecto
                </div>
            </div>
            <p-button  type="submit" label="Ingresar" size="small" class="button-form"/>
        </div>
    </form>
</div>

<app-footer></app-footer>

