<div class="container-title">
    <img src="../../../assets/logoOrange.png" alt="logo">
</div>
<div class="content">

    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="content-form">
            <div class="container-title">
                <span class="title-content">INGRESO</span>
            </div>
            <div class="login-user">
                <label for="inputdni" class="form-label">DNI</label>
                <input type="text" [(ngModel)]="dni" id="inputdni" class="form-control" aria-describedby="dniHelpBlock" (ngModelChange)="validateDni()"
                [ngModelOptions]="{standalone:true}">
                <div *ngIf="errorDni" class="alert">
                    Dni Incorrecto, debe contener 8 caracteres numéricos.
                </div>
            </div>
            <p-button  type="submit" label="Ingresar" size="small" class="button-form"/>
        </div>
    </form>
</div>

<app-footer></app-footer>

