    <div class="container-choose">
        <div class="dropdown-content">
            <div>
                <p-dropdown 
                [options]="concerts" 
                [(ngModel)]="concertChoice" 
                optionLabel="nombre"
                placeholder="Elegir Concierto" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
                <p-dropdown 
                [options]="ciclos" 
                [(ngModel)]="cicloChoice" 
                (ngModelChange)="onCicloChange($event)"
                optionLabel="ciclo"
                placeholder="Elegir Ciclo" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
                <p-dropdown 
                [options]="niveles" 
                [(ngModel)]="nivelChoice" 
                optionLabel="nivel"
                placeholder="Elegir Nivel" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
                <p-dropdown 
                [options]="divisiones" 
                [(ngModel)]="divisionChoice" 
                optionLabel="division"
                placeholder="Elegir Division" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
        <button pButton type="button" (click)="verFiltro()" class="pi pi-search"></button>
    </div>

    <div class="content-habilitation" *ngIf=concertChoice>
        <p-floatLabel>
            <p-calendar 
                [(ngModel)]="dateFrom" 
                inputId="from" />
            <label for="from">Desde</label>
        </p-floatLabel>
        <p-floatLabel>
            <p-calendar 
                [(ngModel)]="dateTo" 
                inputId="to" />
            <label for="to">Hasta</label>
        </p-floatLabel>
        <button pButton type="button" (click)="habilitar(concertChoice,$event)">Habilitar</button>
    </div>
    <p-confirmDialog />
    
    <div class="container-table">
        <p-table #dt2 [value]="filteredUsers" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'width': 'auto', 'margin':'0 auto'}"
        [globalFilterFields]="['dni', 'apellido', 'nombre', 'ciclo','turno','nivel','division','concert']">
        <ng-template pTemplate="caption" style="width: 50%;">
            <div class="caption">
                <p-iconField iconPosition="right" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                    pInputText 
                    type="text" 
                    (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                    placeholder="Buscar..." />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="dni">
                    DNI <p-sortIcon field="dni" />
                </th>
                <th pSortableColumn="apellido">
                    Apellido <p-sortIcon field="apellido" />
                </th>
                <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="ciclo">
                    Ciclo <p-sortIcon field="ciclo" />
                </th>
                <th pSortableColumn="turno">
                    Turno <p-sortIcon field="turno" />
                </th>
                <th pSortableColumn="nivel">
                    Nivel <p-sortIcon field="nivel" />
                </th>
                <th pSortableColumn="division">
                    Division <p-sortIcon field="division" />
                </th>
                <th pSortableColumn="concert">
                   Concert habilitado
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.dni }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.ciclo }}</td>
                <td>{{ user.turno }}</td>
                <td>{{ user.nivel }}</td>
                <td>{{ user.division }}</td>
                <td>{{ user.habilitaciones }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>