.container-choose,.content-habilitation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.dropdown-content{
    display: flex;
    justify-content: center;
}

.content-habilitation{
    margin-top: 25px;
}

p-dropdown{
    margin: 3px;
}

.p-inputtext{
    padding: 4px;
}

p-calendar{
    padding: 4px;
}

#to{
    padding: 5px !important;
}

.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table div div{
    width: 50%;
}
.caption{
    margin: 0 auto;
}

input{
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .container-table{
        display: block;
    }

    .dropdown-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-choose, .content-habilitation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}