<h2 style="text-align: center;">
    Habilitacion de Usuarios
</h2>

<div class="container-choose">
    <div class="dropdown-content">
        <div style="margin-bottom: 10px; display: flex; flex-direction: column;">
            <label for="concert">Concert</label>
            <p-dropdown 
            [options]="concerts" 
            [(ngModel)]="concertChoice" 
            optionLabel="nombre"
            placeholder="Elegir Concierto" 
            [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="sub-dropdown-content" *ngIf="concertChoice" >
            <div style="margin-bottom: 10px; display: flex; flex-direction: column;">
                <label for="Ciclo">Ciclo</label>
                <p-dropdown 
                [options]="ciclos" 
                [(ngModel)]="cicloChoice" 
                (ngModelChange)="onCicloChange($event)"
                optionLabel="ciclo"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div style="margin-bottom: 10px; display: flex; flex-direction: column;">
                <label for="anio">Año</label>
                <p-dropdown
                [options]="niveles" 
                [(ngModel)]="nivelChoice" 
                optionLabel="nivel"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div style="margin-bottom: 10px; display: flex; flex-direction: column;">
                <label for="division">Division</label>
                <p-dropdown 
                [options]="divisiones" 
                [(ngModel)]="divisionChoice" 
                optionLabel="division"
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <button pButton type="button" (click)="verFiltro()" class="pi pi-search" ></button>
        </div>
    </div>
</div>

<div class="content-habilitation" *ngIf="concertChoice">
    <p-floatLabel>
        <p-calendar 
        [(ngModel)]="dateFrom" 
        inputId="from" 
        [minDate]="today"
        dateFormat="dd/mm/yy"
        (ngModelChange)="onDateFromChange()"/>
        <label for="from">Desde</label>
    </p-floatLabel>
    <p-floatLabel>
        <p-calendar 
        [(ngModel)]="dateTo" 
        inputId="to"
        [minDate]="minDateTo"
        dateFormat="dd/mm/yy"/>
        <label for="to">Hasta</label>
    </p-floatLabel>
</div>
<!-- <div class="confirm-habilitation">
    <button 
    pButton 
    type="button" 
    (click)="habilitar(concertChoice,$event)" 
    severity="success" 
    icon="pi pi-check" 
    *ngIf="habilitarDiv" 
    [disabled]="!dateFrom && !dateTo && !concertChoice"></button>
    <button 
    pButton 
    type="button" 
    (click)="deshabilitar(concertChoice,$event)" 
    severity="danger" 
    icon="pi pi-times-circle" 
    *ngIf="deshabilitarDiv"
    [disabled]="!cicloChoice || !divisionChoice || !nivelChoice"></button>
</div> -->
<p-confirmDialog />

<div class="container-table">
    <p-table 
    #dt2 
    [value]="filteredUsers" 
    [scrollable]="true" 
    scrollHeight="400px" 
    [tableStyle]="{'width': 'auto', 'margin':'0 auto'}"
    [globalFilterFields]="['dni', 'apellido', 'nombre', 'ciclo','nivel','division','concert']">
    <ng-template pTemplate="caption" style="width: 50%;">
        <div class="caption">
            <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                pInputText 
                type="text" 
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Buscar..." />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="dni">
                DNI <p-sortIcon field="dni" />
            </th>
            <th pSortableColumn="apellido">
                Apellido <p-sortIcon field="apellido" />
            </th>
            <th pSortableColumn="nombre">
                Nombre <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="ciclo">
                Ciclo <p-sortIcon field="ciclo" />
            </th>
            <th pSortableColumn="nivel">
                Nivel <p-sortIcon field="nivel" />
            </th>
            <th pSortableColumn="division">
                Division <p-sortIcon field="division" />
            </th>
            <th pSortableColumn="concert">
                Habilitado
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.dni }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.ciclo }}</td>
            <td>{{ user.anio }}</td>
            <td>{{ user.division }}</td>
            <td>
                <input type="checkbox" name="habilitado" id="habilitado" [checked]="user.habilitado" 
                [disabled]="!concertChoice && !dateFrom && !dateTo" (change)="canHabilitar(user, $event)">
            </td>
        </tr>
    </ng-template>
</p-table>

<button
pButton
type="button"
(click)="habilitar($event)"
>Guardar</button>

</div>