::ng-deep .p-button {
    font-size: 14px; /* Cambia el valor según lo que necesites */
    padding: 8px;
}

#habilitarButton,#deshabilitarButton{
    width: 15%;
    text-align: center;
}

.button-habilitation button{
    margin-bottom: 10px;
}

.container-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.dropdown-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-dropdown-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-group button {
    align-self: center; /* Centra el botón horizontalmente */
    margin-top: 10px; /* Espacio superior para separación */
}

.content-habilitation{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.subcontainer-habilitation{
    display: flex; 
    flex-direction: column;
}

.last-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.last-input label{
    padding-right: 3px;
}

::ng-deep .p-inputtext{
    padding: 8px;
}

p-dropdown{
    margin: 3px;
}

.p-inputtext{
    padding: 4px;
}

p-calendar{
    padding: 4px;
}

#to{
    padding: 5px !important;
}
.container-button-confirm{
    display: flex;
    justify-content: center; 
    margin: 10px 0 300px 0
}

.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

table div div{
    width: 50%;
}
.caption{
    margin: 0 auto;
}

input{
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .container-table{
        display: block;
    }

    .dropdown-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-choose, .content-habilitation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #habilitarButton,#deshabilitarButton{
        width: 50%;
        text-align: center;
    }
    .container-button-confirm button{
        margin-bottom: 200px;
    }
}

@media screen and (max-height: 900px){
    .container-button-confirm button{
        margin-bottom: 150px;
    }
}