<div class="scenario-container" *ngIf="!loading">
    <div class="scenario">
        <table class="sala" *ngIf="admin"> 
            <thead style="margin-bottom: 10px;">
                <th style="letter-spacing: 2px;">ESCENARIO</th>
            </thead>
            <tbody class="tbody" style="margin-top: 10px;">
                <tr *ngFor="let row of seats;let rowIndex = index" class="row">
                    <!-- El administrador aca debe saber quien reservo quien pago y los disponibles-->
                    <td *ngFor="let seat of row" [ngClass]="{
                        'seat': existSeat(seat), 
                        'reservated-seat': existSeat(seat) && isReservated(seat),
                        'paid-seat': existSeat(seat) && isPaid(seat),
                        'disabled': existSeat(seat) && isDisabledSeat(seat),
                        'empty-seat':!existSeat(seat)
                    }" >
                    </td>
                    <td class="row-number">
                        {{ rowIndex + 1 }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="sala" *ngIf="!admin">
            <thead>
                <th>Escenario</th>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let row of seats; let rowIndex = index" class="row">
                    <td *ngFor="let seat of row" [ngClass]="{
                        'seat': existSeat(seat), 
                        'disabled': existSeat(seat) && isDisabledSeat(seat),
                        'seat-available': existSeat(seat) && isAvailable(seat),
                        'selected-seat': existSeat(seat) && isSelected(seat.fila, seat.butaca),
                        'reservated-seat': existSeat(seat) && isReservated(seat),
                        'paid-seat': existSeat(seat) && isPaid(seat) && !mySeat(seat),
                        'seat-user': existSeat(seat) && mySeat(seat),
                        'empty-seat':!existSeat(seat)
                    }" (click)="existSeat(seat) && isAvailable(seat) && toggleSeatSelection(seat.fila, seat.butaca)">
                    </td>
                    <td class="row-number">
                    {{ rowIndex + 1 }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div style="text-align: center;">
    <p-progressSpinner ariaLabel="loading" *ngIf="loading"/>
</div>
<div class="guia-color" *ngIf="!admin">
    <div>
        <div class="guia-row">
            <div class="mis-asientos"></div> 
            <span>Mis Asientos</span>
        </div>
        <div class="guia-row">
            <div class="asientos-disponibles"></div> 
            <span>Disponibles</span>
        </div>
    </div>
    <div class="right-position">
        <div class="guia-row2">
            <span style="margin-right: 3px;">Reservados </span> 
            <div class="asientos-reservados"></div> 
        </div>
        <div class="guia-row2">
            <span style="margin-right: 3px;">No disponibles </span> 
            <div class="asientos-pagados"></div> 
        </div>
    </div>
</div>
<div class="guia-color2" *ngIf="admin">
    <div class="guia-row3">
        <div class="asientos-disponibles"></div> 
        <span>Disponibles</span>
    </div>
    <div class="guia-row3">
        <div class="asientos-reservados"></div> 
        <span>Reservados</span> 
    </div>
    <div class="guia-row3">
        <div class="asientos-pagados"></div> 
        <span>Confirmados</span> 
    </div>
</div>

<div *ngIf="mostrarBoton" class="btn-content" style="margin-top: 30px;">
    <p-button label="Confirmar" class="button-scenario" (click)="confirmSeat()" size="small" [disabled]="isWithinReservationLimit() && hasReachedReservationLimit()"></p-button>
</div>

</div>
