.scenario-container{
    width: 100%;
    margin:20px auto 100px 0;
    text-align: center;
}
.scenario{
    width: 100%;
    margin: auto;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.sala{
    padding: 20px 0;
}
.tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}
.row{
    width: 100%;
    display: inline-block;
}
.seat,.empty-seat {
    padding: 8px;
}
.seat {
    border: 1px solid #070707;
    border-radius: 3px;
}
.row-number{
    padding:0 20px;
}
.seat-available{
    cursor: pointer;
}
.seat-available:hover {
    background-color: #a0a7a0;
}

.selected-seat {
    background-color: #2b2524;
}

.reservated-seat,.reservated-seat:hover{
    background-color: #e8ca22;
}

.seat-user,.seat-user:hover{
    background-color: #6d8d41 !important;
}

.paid-seat,.paid-seat:hover{
    background: url('../../../../assets/SoldSeat.jpg');
    background-size: cover;
}
.seat-disabled-selected {
    background: url('../../../../assets/HandSeat.jpg'); /* Misma imagen */
    background-size: cover;
    opacity: 0.5; /* Reduce la opacidad para indicar selección */
    border: 2px solid orange; /* Añadir un borde para diferenciarla */
    filter: grayscale(100%); /* Aplicar un filtro de escala de grises */
    position: relative;
}
.seat-disabled-selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.3); /* Añade un overlay de color naranja con transparencia */
    pointer-events: none; /* Permite que los clics pasen a través de la capa superpuesta */
}
.disabled{
    background: url('../../../../assets/HandSeat.jpg');
    background-size: cover;
}
.disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite que los clics pasen a través de la capa superpuesta */
  }
.empty-seat{
    border: 1px solid #fff;
}

.rowNumber{
    color: #2d2931;
    font-weight: 600;
    padding-left: 20px;
}
.guia-color{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.guia-color2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guia-row{
    display: flex;
    justify-content: flex-start;
}
.guia-row2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.guia-row3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mis-asientos,.no-disponibles,.asientos-disponibles,.asientos-reservados,.asientos-pagados{
    width: 7px;
    padding: 7px;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 6px 6px 0;
}
.mis-asientos{
    background-color: #6d8d41;
}

.asientos-reservados{
    background-color: #bba213;
}
.asientos-pagados{
    background: url('../../../../assets/SoldSeat.jpg');
    background-size: cover;
} 

.right-position{
    margin-left: 50px;
}

.button-scenario{
    margin-top: 15px;
}

@media only screen and (max-width: 1300px) {
    
    .scenario{
        display: block;
        width: 100%;
        margin: auto;
        overflow-x: auto;
        margin: 0 auto;
    }

}
@media only screen and (max-width: 800px){
    
    .seat,.empty-seat {
        padding: 7px;
    }
}
