<div class="scenario-container">
    <!-- <div class="scenario-teatro">Escenario</div> -->
    <div class="scenario">
        <table class="sala" *ngIf="admin"> 
            <thead style="margin-bottom: 10px;">
                <th>Escenario</th>
            </thead>
            <tbody class="tbody" style="margin-top: 10px;">
                <tr *ngFor="let row of seats[escenario.sala];let rowIndex = index" class="row">
                    <!-- El administrador aca debe saber quien reservo quien pago y los disponibles-->
                    <td *ngFor="let seat of row" [ngClass]="{
                        'seat': seat, 
                        'reservated-seat': seat && isReservated(seat),
                        'paid-seat': seat && isPaid(seat),
                        'disabled': seat && isDisabledSeat(seat),
                        'empty-seat':!seat
                    }" >
                    </td>
                    <td class="row-number">
                        {{ rowIndex + 1 }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="sala" *ngIf="!admin"> 
            <thead>
                <th>Escenario</th>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let row of seats[escenario.sala];let rowIndex = index" class="row">
                    <td *ngFor="let seat of row" [ngClass]="{
                        'seat': seat, 
                        'disabled': seat && isDisabledSeat(seat),
                        'seat-available': seat && isAvailable(seat),
                        'seat-user': seat && mySeat(seat),
                        'selected-seat': seat && isSelected(seat.fila, seat.asiento),
                        'reservated-seat': seat && isReservated(seat),
                        'paid-seat': seat && isPaid(seat),
                        'empty-seat':!seat
                    }" (click)="seat && isAvailable(seat) && toggleSeatSelection(seat.fila, seat.asiento)">
                    </td>
                    <td class="row-number">
                        {{ rowIndex + 1 }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="guia-color" *ngIf="!admin">
        <div class="guia-row">
            <div class="mis-asientos"></div> 
            <span>Mis Asientos</span>
        </div>
        <div class="guia-row">
            <div class="asientos-disponibles"></div> 
            <span>Disponibles</span>
        </div>
        <div class="guia-row">
            <div class="asientos-reservados"></div> 
            <span>Reservados</span> 
        </div>
        <div class="guia-row">
            <div class="asientos-pagados"></div> 
            <span>No disponibles</span> 
        </div>
    </div>
    <div class="guia-color" *ngIf="admin">
        <div class="guia-row">
            <div class="asientos-disponibles"></div> 
            <span>Disponibles</span>
        </div>
        <div class="guia-row">
            <div class="asientos-reservados"></div> 
            <span>Reservados</span> 
        </div>
        <div class="guia-row">
            <div class="asientos-pagados"></div> 
            <span>Confirmados</span> 
        </div>
    </div>
    
    <div *ngIf="mostrarBoton" class="btn-content">
        <p-button label="Confirmar" class="button-scenario" (click)="confirmSeat()" size="small"></p-button>
    </div>
    
</div>
