.scenario-container{
    width: 100%;
    margin:20px auto 100px 0;
    text-align: center;
}
.scenario{
    width: 100%;
    margin: auto;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.scenario-teatro{
    width: 35%;
    height: 40px;
    color: rgb(234, 243, 240);
    border: 1px solid #070707;
    background-color: #1f1d1d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sala{
    padding: 20px 0;
}
.tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}
.row{
    width: 100%;
    display: inline-block;
}
.seat,.empty-seat {
    padding: 8px;
}
.seat {
    border: 1px solid #070707;
    border-radius: 3px;
}
.row-number{
    padding:0 20px;
}
.seat-available{
    cursor: pointer;
}
.seat-available:hover {
    background-color: #a0a7a0;
}

.selected-seat {
    background-color: #2b2524;
}

.reservated-seat,.reservated-seat:hover{
    background-color: #e8ca22;
}

.seat-user,.seat-user:hover{
    background-color: #6d8d41 !important;
}

.paid-seat,.paid-seat:hover{
    background: url('../../../../assets/SoldSeat.jpg');
    background-size: cover;
}

.disabled{
    background: url('../../../../assets/HandSeat.jpg');
    background-size: cover;
}

.empty-seat{
    border: 1px solid #fff;
}

.rowNumber{
    color: #2d2931;
    font-weight: 600;
    padding-left: 20px;
}
.guia-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guia-row{
    display: flex;
    justify-content: flex-start;
}
.mis-asientos,.no-disponibles,.asientos-disponibles,.asientos-reservados,.asientos-pagados{
    width: 7px;
    padding: 7px;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 0 6px 6px 0;
}
.mis-asientos{
    background-color: #6d8d41;
}

.asientos-reservados{
    background-color: #bba213;
}
.asientos-pagados{
    background: url('../../../../assets/SoldSeat.jpg');
    background-size: cover;
}

.button-scenario{
    margin-top: 15px;
}

@media only screen and (max-width: 1300px) {
    
    .scenario{
        display: block;
        width: 100%;
        margin: auto;
        overflow-x: auto;
        margin: 0 auto;
    }

}
@media only screen and (max-width: 800px){
    
    .seat,.empty-seat {
        padding: 7px;
    }
}
