<div class="card">

    <p-table 
    #dt2 
    [value]="users" 
    [scrollable]="true" 
    scrollHeight="600px" 
    styleClass="p-datatable-gridlines" 
    [tableStyle]="{'width': 'auto', 'margin':'0 auto'}"
    class="custom-table"
    [globalFilterFields]="['dni', 'apellido', 'nombre', 'ciclo','grado']"
    >
    <ng-template pTemplate="caption" class="caption">
        <!-- <div class="flex"> -->
            <p-iconField iconPosition="right">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                pInputText 
                type="text" 
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Buscar..." />
            </p-iconField>
        <!-- </div> -->
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="dni">
                DNI <p-sortIcon field="dni" />
            </th>
            <th pSortableColumn="apellido">
                Apellido <p-sortIcon field="apellido" />
            </th>
            <th pSortableColumn="nombre">
                Nombre <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="ciclo">
                Ciclo <p-sortIcon field="ciclo" />
            </th>
            <th pSortableColumn="nivel">
                Nivel <p-sortIcon field="nivel" />
            </th>
            <th pSortableColumn="division">
                Division <p-sortIcon field="division" />
            </th>
            <th>
                Ver Detalles
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.dni }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.ciclo }}</td>
            <td>{{ user.anio }}</td>
            <td>{{ user.division }}</td>
            <td><button 
                type="button" 
                (click)="showDialog(user.dni)" 
                pButton 
                icon="pi pi-external-link" 
                size="small">
            </button></td>
            <td>
                <button 
                type="button" 
                (click)="acceptAllReserves(user,$event)" 
                pButton 
                icon="pi pi-check" 
                label="Validar Todo"
                severity="success"
                size="small">
            </button>
            <p-confirmDialog />
            </td>
         </tr>
    </ng-template>
</p-table>
</div>
<p-dialog 
header="Reservas" 
[resizable]="false" 
[modal]="true" 
[maximizable]="true" 
[(visible)]="dialogVisible" 
[style]="{width: '75vw'}" 
[contentStyle]="{height: '600px'}">
<p-table 
[value]="dniSelected" 
[scrollable]="true"
scrollHeight="flex"
[(selection)]="selectedReserves"
[tableStyle]="{'width': 'auto'}"  
styleClass="p-datatable-gridlines"
[disabled]="">
<ng-template pTemplate="caption">
    <p-button 
    pRipple 
    label="Validar" 
    icon="pi pi-check" 
    [text]="true" 
    (click)="confirmSelectedReserves(aloneDni,$event)" 
    [disabled]="!selectedReserves || !selectedReserves.length" />
    <p-button 
    pRipple 
    label="Eliminar" 
    icon="pi pi-undo" 
    [text]="true" 
    (click)="deleteSelectedReserves(aloneDni,$event)" 
    [disabled]="!selectedReserves || !selectedReserves.length" />
    <!-- <p-confirmDialog></p-confirmDialog> -->
</ng-template>

<ng-template pTemplate="header">
    <tr>
        <th style="width: 4rem"  >
            <!-- <p-tableHeaderCheckbox \/> -->
        </th>
        <th>
            Fila
        </th>
        <th>
            Asiento
        </th>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Concierto
        </th>
        <th>
            Estado
        </th>
        <th>
            Validado
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-reserve>
    <tr>
        <td>
            <p-tableCheckbox [value]="reserve" [disabled]="reserve.estado == 'pagado'" />
        </td>
        <td>
            {{reserve.fila}}
        </td>
        <td>
            {{reserve.butaca}}
        </td>
        <td *ngIf="reserve.estado == 'reservado'">
            {{reserve.fechaDni | date:'shortDate'}}
        </td>
        <td *ngIf="reserve.estado == 'pagado'">
            {{reserve.fechaAdmin | date:'shortDate'}}
        </td>
        <td *ngIf="reserve.estado == 'reservado'">
            {{reserve.fechaDni | date:'shortTime'}}
        </td>
        <td *ngIf="reserve.estado == 'pagado'">
            {{reserve.fechaAdmin | date:'shortTime'}}
        </td>
        <td>
            {{reserve.evento_id}}
        </td>
        <td>
            {{reserve.estado}}
        </td>
        <td *ngIf="reserve.estado == 'pagado'">
            {{reserve.dni ? (reserve.dni | admin | async) : 'DNI no disponible'}}
        </td>
    </tr>
</ng-template>

</p-table>
<ng-template pTemplate="footer">
    <button 
    type="button"
    pButton
    pRipple 
    icon="pi pi-times" 
    (click)="dialogVisible=false" 
    label="Salir" 
    class="p-button-text">
</button>
</ng-template>
</p-dialog>
<div style="display:flex; justify-content: center;">
    <button class="button-report" *ngIf="users && users!.length > 0" pButton type="button" (click)="descarga()" >Descargar Reporte</button>
</div>

