.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
table div div{
    width: 50%;
}
input{
    padding: 5px;
}

.button-report{
    padding: 5px !important;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .card{
        display: block;
    }
}