table{
    margin: 30px auto;
    font-size: 14px;
    max-width: 800px; /* Puedes ajustar este valor según sea necesario */
}


.p-button.p-button-sm{
    font-size: 0.8rem;
    padding: 0.5rem 1.09375rem;
}