<div class="container">
    <img src="../../../../assets/oie_transparent.png" alt="" srcset="">
    <span class="titulo">Orange Day School</span>
    <div class="container-menu" *ngIf="menusecreto">
        <ul>
            <li class="hover-list"><a (click)="showReservation()">Sala</a></li>
            <li class="hover-list"><a (click)="showReservated()">Detalles</a></li>
            <li class="hover-list"><a (click)="goOut()">Salir</a></li>
        </ul>
    </div>
    <div class="container-menu" *ngIf="menusecretoAdmin">
        <ul>
            <li class="hover-list"><a (click)="showManageReserves()">Reservas</a></li>
            <li class="hover-list"><a (click)="showManageUsers()">Usuarios</a></li>
            <li class="hover-list"><a (click)="showCountCash()">Caja</a></li>
            <li class="hover-list"><a (click)="goOut()">Salir</a></li>
        </ul>
    </div>
</div>