@font-face{
    font-family: 'Wittenberger Fraktur MT';
    src: url('../../../../assets/wittenberger-fraktur-mt-std-bold.ttf');
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee8e3;
    color: rgb(35, 32, 32);
    font-weight: 700;
    width: 100vw;
    padding: 8px 0;
}
.titulo{
   font-size: 30px;
   font-family: 'Wittenberger Fraktur MT', Courier, monospace;
}
.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    width:100px;
    height: auto;
}
.container ul{
    display: flex;
    padding-left: 0;
}
.container ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.container ul li a{
    color: rgb(35, 32, 32);
    text-decoration: none;
}
.container ul li a:hover{
    color: #0422bb;
    transition: .5s;
}

@media screen and (max-width: 600px) {
    .container-menu{
        padding:0 15px 0 0;
    }
    .container-menu ul{
        flex-direction: column;
    }
    .titulo{
        font-size: 15px;
    }
}