@font-face{
    font-family: 'Wittenberger Fraktur MT';
    src: url('../../../../assets/wittenberger-fraktur-mt-std-bold.ttf');
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF6F61;
    width: 100vw;
    padding: 8px 0;
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
   font-size: 30px;
   font-family: 'Wittenberger Fraktur MT', Courier, monospace;
   position: relative;
   top: 5px;
   left: 5px;
   color: #FFFFFF;
   font-weight: 100;
}
.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    width:100px;
    height: auto;
    padding-left: 10px;
}
.container ul{
    display: flex;
    padding-left: 0;
    color: #FFFFFF;
    font-weight: 700;
}
.hover-list {
    list-style: none;
    margin-right: 5px;
}

.hover-list:target{
    color: rgb(34, 32, 30)
}

.hover-list a{
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
}
.hover-list a:hover{
    color: rgb(83, 57, 150);
    transition: .5s;
}

@media screen and (max-width: 720px) {
    .container{
        padding: 0;
    }
    .container-menu{
        padding:0 15px 0 0;
    }
    .container-menu ul{
        flex-direction: column;
    }
    .titulo{
        font-size: 15px;
        bottom: 0;
        left: 0;
    }
    .subcontainer{
        flex-direction: column;
    }
    .container ul li{
        margin: 5px 0;
    }
    
    .container-menu li a{
        font-size: 10px;
    }
    .container img{
        width:90px;
        margin: 0 auto;
    }
    .hover-list a{
        padding: 0;
        cursor: pointer;
        color: rgb(35, 32, 32);
        font-size: 1rem;
        text-decoration: none;
    }
    .responsive{
        display: none;
    }
}