 <div class="container">
<!--    <div class="subcontainer">
        <img src="../../../../assets/oie_transparent.png" alt="" srcset="">
        <h1 class="titulo">Orange Day School</h1>
    </div>
    <div class="container-menu" *ngIf="menusecreto">
        <ul>
            <li class="hover-list"><a (click)="showReservation()">Sala</a></li>
            <li class="hover-list"><a (click)="showReservated()">Detalles</a></li>
            <li class="hover-list"><a (click)="goOut()">Salir</a></li>
        </ul>qews,
    </div>
    <div class="container-menu" *ngIf="menusecretoNada">
        <ul>
            <li class="hover-list"><a (click)="goOut()">Salir</a></li>
        </ul>
    </div>
-->
     <!-- <div class="container-menu" *ngIf="menusecretoAdmin">
        <ul class="responsive">
            <li class="hover-list"><a (click)="showManageReserves()">Reservas</a></li>
            <li class="hover-list"><a (click)="showManageUsers()">Usuarios</a></li>
            <li class="hover-list"><a (click)="showCountCash()">Caja</a></li>
            <li class="hover-list"><a (click)="showManageAdmin()">Administradores</a></li>
            <li class="hover-list"><a (click)="showEvents()">Eventos</a></li>
            <li class="hover-list"><a (click)="goOut()">Salir</a></li>
        </ul>
        
    </div> -->
    
<!-- </div>  -->
<div class="container">
    <!-- <div class="subcontainer">
        <img src="../../../../assets/oie_transparent.png" alt="Orange Day School Logo">
        <h1 class="titulo">Orange Day School</h1>
    </div> -->
    
    <p-menubar *ngIf="menusecreto" [model]="menuItems" [autoDisplay]="false">
        <ng-template pTemplate="start">
            <img src="../../../../assets/oie_transparent.png" alt="Orange Day School Logo" height="40" class="mr-2">
        </ng-template>
        <ng-template pTemplate="end">
            <div style="display: flex;flex-direction: column; align-items: center;">
                <span><strong>DNI: {{user.dni}}</strong></span>
                <span><strong>{{user.nombre}} {{user.apellido}}</strong></span>
            </div>
        </ng-template>
    </p-menubar>

    <p-menubar *ngIf="menusecretoAdmin" [model]="adminMenuItems" [autoDisplay]="false">
        <ng-template pTemplate="start">
            <img src="../../../../assets/oie_transparent.png" alt="Orange Day School Logo" height="40" class="mr-2">
        </ng-template>
        <ng-template pTemplate="end">
            <div style="display: flex;flex-direction: column; align-items: center;">
                <span><strong>{{user.nombre}} {{user.apellido}}</strong></span>
            </div>
        </ng-template>
    </p-menubar>

    <p-menubar *ngIf="menusecretoNada" [model]="logoutMenuItems" [autoDisplay]="false">
        <ng-template pTemplate="start">
            <img src="../../../../assets/oie_transparent.png" alt="Orange Day School Logo" height="40" class="mr-2">
        </ng-template>
    </p-menubar>
</div>