.perfil{
    margin-top: 20px;
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-information{
    font-weight: 500;
    padding: 10px;
}
.data-information.title{
    font-weight: 700;
}

.content-general{
    margin-bottom: 70px;
}
.showScenario{
    text-align: center;
}
.showReserves{
    display: flex;
    justify-content: center;
}
