<app-navbar [menusecretoAdmin]="true" [usuario]="usuario"></app-navbar>
<div style="z-index: 0;">
    <div *ngIf="currentComponent === 'reserveManage'" style="text-align: center;">
        
        <h2 style="text-align: center;">
            Gestion de Reservas
        </h2>
        
        <div style="padding: 25px 0 5px; margin: auto;">
            <span>Concerts</span>
        </div>
        <div class="container-choose">
            <div class="dropdown-content">
                <p-dropdown 
                [options]="concerts" 
                [(ngModel)]="concertChoice" 
                optionLabel="displayLabel"
                placeholder="Elegir Concierto" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
    </div>  
    
    <div class="showScenario" *ngIf="currentComponent === 'reserveManage' && concertChoice">
        <app-scenario [admin]="admin" [escenario]="concertChoice!" [mostrarBoton]="false" *ngIf="currentComponent === 'reserveManage' && concertChoice"></app-scenario>
    </div>
    <div class="showReserves" *ngIf="currentComponent === 'reserveManage' && concertChoice">
        <app-manage-reserves [admin]="usuario" [escenario]="concertChoice" *ngIf="currentComponent === 'reserveManage' && concertChoice"></app-manage-reserves>
    </div>
    
    <div class="showUsers" *ngIf="currentComponent === 'userManage'">
        <h2 style="text-align: center;">
            Habilitacion de Usuarios
        </h2>
        <app-manage-users *ngIf="currentComponent === 'userManage'"></app-manage-users>
    </div>
    
    <div class="showAdmin" style="margin-bottom: 100px;" *ngIf="currentComponent === 'adminManage'" >
        <h2 style="text-align: center;">
            Gestion de Administracion
        </h2>
        <app-admin-manage *ngIf="currentComponent === 'adminManage'"></app-admin-manage>
    </div>
    
    <div class="showCash" style="margin-bottom: 100px;" *ngIf="currentComponent === 'countCash'">
        <h2 style="text-align: center;">
            Reporte de la Caja
        </h2>
        <app-count-cash *ngIf="currentComponent === 'countCash'"></app-count-cash>
    </div>
    
    <div class="showHistorial" style="margin-bottom: 100px;"  *ngIf="currentComponent === 'historialReport'">
        <h2 style="text-align: center;">
            Historial de reportes
        </h2>
        <app-historial-reserves *ngIf="currentComponent === 'historialReport'"></app-historial-reserves>
    </div>
    
    <div class="showEvents" *ngIf="currentComponent === 'events'">
        <h2 style="text-align: center;">
            Gestion de eventos
        </h2>
        <app-events *ngIf="currentComponent === 'events'"></app-events>
    </div>
</div>

<app-footer class="footer" style="z-index: 99;" ></app-footer>
