.perfil{
    width: 70%;
    margin: 10px auto;
}
.subcontainer-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-information{
    font-weight: 500;
    padding: 4px;
}
.showReserves,.showCash,.showReserves{
    margin: 0 auto;
    margin-bottom:100px;
}
.showReserves,.showCash,.showReserves{
    width: 100%;
}
.data-information.title{
    font-weight: 700;
}
.footer{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    /* .showReserves{
        display: inline;
    }
    /* .showUsers{
        display: inline;
    } */
    .showCash{
        width: 100%;
    }
}
