/* .content{
    flex: 1 0 0;
} */
.subcontainer-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-information{
    font-weight: 500;
    padding: 4px;
}
.showReserves,.showCash,.showReserves,.showEvents,.showUsers,.showAdmin,.showHistorial{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
}

.data-information.title{
    font-weight: 700;
}
.footer{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .showCash{
        width: 100%;
    }
    .showUsers{
        margin-bottom: 250px;
    }
}

@media screen and (max-height: 900px){
    .showAdmin, .showHistorial{
        margin-bottom: 100px;
    }
}
