<app-navbar [menusecretoAdmin]="true"></app-navbar>

<div class="perfil">
    <p-card class="subcontainer-perfil">
        <div>
            <span class="data-information title">Administrador/a</span>
            <span class="data-information">{{usuario!.nombre}} </span>
            <span class="data-information">{{usuario!.apellido}}</span>
        </div>
    </p-card>
</div>


<div class="content-general">
    <div *ngIf="currentComponent === 'reserveManage'" style="text-align: center;">
        <div style="padding: 25px 0 5px; margin: auto;">
            <span>Concerts</span>
        </div>
        <div class="container-choose">
            <div class="dropdown-content">
                <p-dropdown 
                [options]="concerts" 
                [(ngModel)]="concertChoice" 
                optionLabel="nombre"
                placeholder="Elegir Concierto" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
    </div>  
    <div class="showScenario">
        <app-scenario [admin]="admin" [escenario]="concertChoice" [mostrarBoton]="false" *ngIf="currentComponent === 'reserveManage' && concertChoice"></app-scenario>
    </div>
    <div class="showReserves">
        <app-manage-reserves [admin]="usuario" [escenario]="concertChoice" *ngIf="currentComponent === 'reserveManage' && concertChoice"></app-manage-reserves>
    </div>
</div>
<div class="showUsers">
    <app-manage-users   *ngIf="currentComponent === 'userManage'"></app-manage-users>
</div>

<div>
    <app-count-cash  *ngIf="currentComponent === 'countCash'"></app-count-cash>
</div>

<app-footer class="footer" ></app-footer>
