::ng-deep .p-button {
    font-size: 14px; /* Cambia el valor según lo que necesites */
    padding: 8px;
    margin-right: 15px;
}
.buttons{
    margin-bottom: 15px;
}
.content-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.field{
    margin-bottom: 10px;
}

.field label{
    padding-bottom: 10px !important;
  height: 268px !important;
}
@media screen and (max-width: 700px) {
    
    .content-table{
        display: block;
    }

}
@media screen and (max-height: 900px) {
    .content-table{
        margin-bottom: 150px;
    }
}