:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.content {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form{
    border: 0.5px solid #000;
    padding: 38px 20px;
    background-color: rgb(228, 228, 228);
}

.container-title{
   text-align: center;
}

.title-content{
    font-weight: 600;
    position: relative;
    bottom: 10px;
}

form label{
    display: block;
    margin: 10px 0;
}

form input{
    padding: 5px;
    /* font-size: 20px; */
}
.button-form{
    display: block;
    font-size: 10px;
    margin: 20px auto 0;
    text-align: center;
}

.alert{
    font-weight: 500;
    color: rgb(120, 0, 4);
    margin: 5px 0;
}