/* @font-face{
    font-family: 'Wittenberger Fraktur MT';
    src: url('../../../../assets/wittenberger-fraktur-mt-std-bold.ttf');
} */

.container{
    background-color: #FFDAB9;
    width: 100vw;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow-y: scroll;
}
span{
    /* font-family:'Wittenberger Fraktur MT','Courier New', Courier, monospace; */
    font-weight: 700;
    font-size: 15px;
    /* color: #1A1A1A; */
}

@media screen and (max-width: 800px) {
    .container{
        padding: 5px;
    }
    span{
        font-size: 11px;
    }
}