.container{
    background-color: #2C3E50;
    width: 100vw;
    color: #e9e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
span{
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .container{
        padding: 10px;
    }
    span{
        font-size: 11px;
    }
}