<app-navbar [menusecreto]="true"></app-navbar>
<div class="perfil">
    <p-card role="region" class="subcontainer-perfil">
        <div style="text-align: center;font-weight: 700; margin-bottom: 10px;">Estudiante</div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: start;">
        <span class="data-information">DNI: {{usuario!.dni}}</span>
        <span class="data-information"> Nombre: {{usuario!.nombre}} {{usuario!.apellido}} </span>
    </div>
    <div style="display: flex; flex-direction: column; align-items: start;">
        <span class="data-information">Ciclo: {{usuario!.ciclo}}</span>
        <span class="data-information">Grado/año: {{usuario!.anio}}</span>
        <span class="data-information">Division: {{usuario!.division}}</span>
    </div>
</p-card>
</div>


<!-- <div *ngIf="currentComponent === 'scenario'" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<div style="margin-bottom: 5px;">
    <span>Concerts habilitados</span>
</div>
<div class="container-choose">
    <div class="dropdown-content">
        <p-dropdown 
        [options]="concerts" 
        [(ngModel)]="concertChoice" 
        optionLabel="nombre"
        placeholder="Elegir Concierto" 
        [ngModelOptions]="{standalone: true}"/>
    </div>
</div>
</div> -->
<div style="text-align: center;">
    <p-progressSpinner ariaLabel="loading" *ngIf="loading"/>
</div>
<div *ngIf="concertChoice! == undefined">
    <p style="text-align: center; font-weight: 700;">Este usuario no tiene Concert habilitado. Comuniquese con administracion para mas detalles</p>
</div>
<div class="display-details" style="margin-bottom: 0;" *ngIf="concertChoice != undefined"> 
    <div>
        <span style="text-align: center;">{{concertChoice!.nombre}}</span>
        <span style="text-align: center;">Fecha: {{concertChoice!.fecha | date }}</span>
        <span style="text-align: center;">Hora: {{concertChoice!.hora}}</span>
    </div>
</div>


<div class="content" style="margin-bottom: 120px" *ngIf="concertChoice! != undefined">
    
    <app-scenario [admin]="admin" [escenario]="concertChoice!" *ngIf="currentComponent === 'scenario' && concertChoice!" (changePage)="changePage($event)"></app-scenario>
    
    <div style="margin: 0 auto;">
        <app-reservated  *ngIf="currentComponent ==='reservated'"></app-reservated>
    </div>
    
</div>

<app-footer class="footer"></app-footer>
