
.perfil{
    width: 60%;
    margin: 10px auto;
}

.subcontainer-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-button.p-button-sm{
    padding: 0.5rem;
    margin: 2rem;
}
.dropdown-content{
    margin-right:15px;
}

.data-information{
    padding: 5px;
    font-weight: 500;
}

.info span{
    display:block;
}

.display-details{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.display-details span{
    display: inline-block;
}
.display-details span{
    display: block;
    padding: 10px 0;
    align-items: center;
}

.footer{
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 800px) {
    .perfil{
        width: 95%;
    }
    .subcontainer-perfil{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .subcontainer-perfil div span{
        font-size: 13px;
    }
    .display-details{
        font-size: 14px;
    }
    .footer{
        position: relative;
        bottom: 0;
    }
   
}