<app-navbar [menusecreto]="true" [user]="usuario"></app-navbar>

<h2 style="text-align: center;" *ngIf="currentComponent=='reservated'">Detalle de las Reservas</h2>
<h2 style="text-align: center;" *ngIf="currentComponent!='reservated'">Reserva de butacas</h2>
<div class="perfil" id="perfil" *ngIf="currentComponent == 'reservated'">
    <p-card role="region" class="subcontainer-perfil">
        <div style="text-align: center;font-weight: 700; margin-bottom: 10px;">Estudiante</div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: start;">
        <span class="data-information">DNI: {{usuario!.dni}}</span>
        <span class="data-information"> Nombre: {{usuario!.nombre}} {{usuario!.apellido}} </span>
    </div>
    <div style="display: flex; flex-direction: column; align-items: start;">
        <span class="data-information">Ciclo: {{usuario!.ciclo}}</span>
        <span class="data-information">Grado/año: {{usuario!.anio}}</span>
        <span class="data-information">Division: {{usuario!.division}}</span>
    </div>
</p-card>
</div>

<div *ngIf="currentComponent === 'scenario'" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div *ngIf="(!concertChoice && (!concerts || concerts.length === 0))" >
        <p style="text-align: center; font-weight: 700;">Este usuario no tiene Concert habilitado. Comuniquese con administracion para mas detalles</p>
    </div>
<div class="container-choose" *ngIf="concerts && concerts.length > 1">
    <div style="margin-bottom: 5px;">
        <span>Concerts habilitados</span>
    </div>
    <div class="dropdown-content">
        <p-dropdown 
        [options]="concerts" 
        [(ngModel)]="concertChoice" 
        optionLabel="nombre"
        placeholder="Elegir Concierto" 
        [ngModelOptions]="{standalone: true}"/>
    </div>
</div>
</div>
<div style="text-align: center;">
    <p-progressSpinner ariaLabel="loading" *ngIf="loading"/>
</div>
<div class="display-details" style="margin-bottom: 0;" *ngIf="concertChoice && currentComponent != 'reservated'"> 
    <div>
        <p style="text-align: center; display: block;">
            <span style="font-weight: 900;display: inline;">Concert:</span> 
            {{concertChoice!.nombre}}
        </p>
        <p style="text-align: center;display: block;">
            <span style="font-weight: 900;display: inline;">Fecha:</span> 
            {{concertChoice!.fecha | date:'dd/MM/yyyy' }}
        </p>
        <p style="text-align: center;display: block;">
            <span style="font-weight: 900;display: inline;">Hora:</span> 
            {{concertChoice!.hora}}
        </p>
    </div>
</div>

<div class="content" style="margin-bottom: 120px" *ngIf="habilitado()">
    
    <app-scenario [admin]="admin" [escenario]="concertChoice!" *ngIf="currentComponent === 'scenario' && concertChoice!" (changePage)="changePage($event)"></app-scenario>
    
    <div style="margin: 0 auto;">
        <app-reservated [escenario]="concertChoice!" [usuario]="usuario" *ngIf="currentComponent ==='reservated'"></app-reservated>
    </div>
    
</div>

<app-footer class="footer"></app-footer>
