.perfil{
    margin: 20px auto;
}
.perfil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil div:first-child, .perfil div:last-child{
    border-left: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-choose{
    display: flex;
    align-items: center;
}

.p-button.p-button-sm{
    padding: 0.5rem;
    margin: 2rem;
}
.dropdown-content{
    margin-right:15px;
}

.data-information{
    padding: 15px;
    font-weight: 500;
}

.info span{
    display:block;
}