<div class="contain-cash">
    <!-- //////////////// -->
    
    <div class="button-choose">
        <button pButton class="button" label="Por Usuarios" (click)="showByUser()"></button> 
        <button pButton class="button" label="Por Fecha" (click)="showByDate()"></button> 
        <button pButton class="button" label="Por concierto" (click)="showByConcert()"></button>
    </div>
    <div *ngIf="showDate" class="dates">   
        <div class="field">
            <label for="fecha">Desde</label>
            <p-calendar [(ngModel)]="desde" dateFormat="dd-mm-yy" [maxDate]="dateNow" required/>
        </div>
        <div class="field">
            <label for="fecha">Hasta</label>
            <p-calendar [(ngModel)]="hasta"  [minDate]="dateNow" (onChange)="onHastaChange($event)" required/>
        </div>
        <button pButton class="pi pi-search" (click)="searchFecha()"></button>
    </div>
    <!-- <div *ngIf="showConcert">
        <p-dropdown 
        [options]="concerts" 
        [(ngModel)]="eventSelected" 
        optionLabel="nombre" 
        placeholder="Seleccione el evento" />
        <button pButton class="pi pi-search" (click)="searchConcert()"></button>
    </div> -->
    <div class="container-table1" *ngIf="showUser">
        <h3 style="padding: 5px 0; text-align: center;">Resumen Caja por Usuario</h3>
        
        <p-table #dt [value]="byUsers" 
        [scrollable]="true" 
        scrollHeight="400px" 
        [tableStyle]="{'width': 'auto', 'margin': '0 auto'}"
        [paginator]="true"
        [rows]="30"
        [globalFilterFields]="['dni', 'apellido', 'nombre', 'total']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="right" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                    pInputText 
                    type="text" 
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                    placeholder="Buscar..." />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="dni">
                    DNI <p-sortIcon field="dni" />
                </th>
                <th pSortableColumn="apellido">
                    Apellido <p-sortIcon field="apellido" />
                </th>
                <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre" />
                </th>
                <th pSortableColumn="total">
                    Total <p-sortIcon field="total" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.dni }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.totalValor | currency:'':'symbol':'1.0-0' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
                <td>{{ totalByUsers | currency:'':'symbol':'1.0-0' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="container-table2" *ngIf="showDate">
    <h3 style="text-align: center; padding: 5px 0;">Resumen Caja por fecha</h3>
    
    <p-table #dt2 [value]="byDate" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'width': 'auto','margin': '0 auto'}" 
    [globalFilterFields]="['dni','total']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                pInputText 
                type="text" 
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Buscar..." />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr>
            <th pSortableColumn="fecha">
                Fecha <p-sortIcon field="fecha" />
            </th>
            <th pSortableColumn="total">
                Total <p-sortIcon field="total" />
            </th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-day>
        <tr>
            <td>{{day.fecha}}</td>
            <td>{{day.total}}</td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
        </div>
    </ng-template> -->
</p-table>
</div>
<div class="container-table3" *ngIf="showConcert" style="display: flex; justify-content: center;">
    <h3 style="text-align: center; padding: 5px 0;">Resumen Caja por Concert</h3>
    <p-table #dt3 [value]="byConcerts" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'width': 'auto','margin': '0 auto'}"
    [globalFilterFields]="['dni', 'nombre', 'total']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                pInputText 
                type="text" 
                (input)="dt3.filterGlobal($any($event.target).value, 'contains')" 
                placeholder="Buscar..." />
            </p-iconField>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="dni">
                ID <p-sortIcon field="dni" />
            </th>
            <th pSortableColumn="apellido">
                Nombre <p-sortIcon field="apellido" />
            </th>
            <th pSortableColumn="nombre">
                Total <p-sortIcon field="nombre" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-concert>
        <tr>
            <td>{{ concert.evento_id }}</td>
            <td>{{ concert.evento_id ? this.getEventName(concert.evento_id) : "nada" }}</td>
            <td>{{ concert.totalValor | currency:'':'symbol':'1.0-0' }}</td>
        </tr>
    </ng-template>
</p-table>
</div>
<!-- /////////////////////////////////// -->

</div>


