.contain-cash,.container-table1,.container-table2,.container-table3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 15px 15px;
}
.time span{
    font-weight: 700;
    color: rgb(29, 27, 24);
    padding: 5px 0 ;
    position: relative;
    left: 20px;
}

.button-choose{
    display: flex;
    justify-content: space-between;
}
.button-choose button{
    padding: 5px !important;
    margin-right: 4px !important;
}

@media screen and (max-width: 800px) {
    .contain-cash,.container-table1,.container-table2,.container-table3{
        display: block;
    }
}
