<div *ngIf="!hasReserves" class="alert-no-reserves">
  <span><strong>No tienes ninguna reserva todavia.</strong></span>
</div>
<div class="card-content" style="margin: auto;" *ngIf="hasReserves" >
  <div class="card" id="card" *ngIf="reserves">
    <p-table [columns]="cols" [value]="reserves" [tableStyle]="{'width': 'auto', 'margin':'0 auto'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of cols">
            <ng-container *ngIf="col.field !== 'fecha' && col.field !== 'hora' && col.field !== 'estado' && col.field !== 'butaca'">
              {{ rowData[col.field] }}
            </ng-container>
            <ng-container *ngIf="col.field === 'butaca'" >
              {{ rowData[col.field] }}
              <ng-container *ngIf="isDisabledSeat(rowData)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="18" height="18"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M192 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM120.5 247.2c12.4-4.7 18.7-18.5 14-30.9s-18.5-18.7-30.9-14C43.1 225.1 0 283.5 0 352c0 88.4 71.6 160 160 160c61.2 0 114.3-34.3 141.2-84.7c6.2-11.7 1.8-26.2-9.9-32.5s-26.2-1.8-32.5 9.9C240 440 202.8 464 160 464C98.1 464 48 413.9 48 352c0-47.9 30.1-88.8 72.5-104.8zM259.8 176l-1.9-9.7c-4.5-22.3-24-38.3-46.8-38.3c-30.1 0-52.7 27.5-46.8 57l23.1 115.5c6 29.9 32.2 51.4 62.8 51.4l5.1 0c.4 0 .8 0 1.3 0l94.1 0c6.7 0 12.6 4.1 15 10.4L402 459.2c6 16.1 23.8 24.6 40.1 19.1l48-16c16.8-5.6 25.8-23.7 20.2-40.5s-23.7-25.8-40.5-20.2l-18.7 6.2-25.5-68c-11.7-31.2-41.6-51.9-74.9-51.9l-68.5 0-9.6-48 63.4 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-76.2 0z"/></svg> <!-- Ícono para discapacitados -->
              </ng-container>
            </ng-container>
            <ng-container *ngIf="col.field === 'fecha'">
              {{ rowData.fechaDni | date:'dd/MM/yyyy' }} <!-- Solo la fecha -->
            </ng-container>
            <ng-container *ngIf="col.field === 'hora'">
              {{ rowData.fechaDni | date:'shortTime' }} <!-- Solo la hora -->
            </ng-container>
            <ng-container *ngIf="col.field === 'estado'">
              <div class="state-container">
                {{ rowData.estado }}
                <ng-container *ngIf="isPendingPayment(rowData)">
                  <i class="pi pi-exclamation-triangle warning-icon"></i> <!-- Símbolo de advertencia -->
                </ng-container>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td>Total a pagar: </td>
          <td>{{ totalReservado | currency:'':'symbol':'1.0-0' }}</td> 
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="download-reserves" *ngIf="hasReserves">
    <button pButton class="p-button-success" (click)="generarPDF()" icon="pi pi-download" label="Descargar"></button>
  </div>
  <!-- <div class="info" *ngIf="hasReserves">
    <button pButton class="p-button-success" (click)="openDialog()" icon="pi pi-exclamation-circle" severity="help" label="Ver informacion"></button>
  </div> -->
  
</div>
