.card,.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info,.download-reserves{
    margin-top: 20px;
}
.subtitle{
    font-size: 1.1rem;
    font-weight: 600;
}

.alert-no-reserves{
    font-size: 1.5rem;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
